<div class="jumbotron">
  <h1 class="display-4">SISTEMA - Sistema de ...</h1>
    <p class="lead">Sistema para simply dummy text of the printing and typesetting.</p>
    <hr>
    <p>Clique nos botões abaixo para acesso ao Sistema.</p>
    <div class="flex-buttons">
      <div>
        <a class="btn btn-success btn-lg" href="/user/login" role="button">Logar</a>
      </div>
      <div>
        <a class="btn btn-success btn-lg" href="/user/register" role="button">Registrar-se</a>
      </div>
    </div>
</div>