<div class="jumbotron">
  <h1 class="display-4">APP NAME</h1>
    <p class="lead">Short text about the app.</p>
    <hr>
    <p>Click on the buttons below to access the app.</p>
    <div class="flex-buttons">
      <div>
        <a class="btn btn-success btn-lg" href="/user/login" role="button">Login</a>
      </div>
      <div>
        <a class="btn btn-success btn-lg" href="/user/register" role="button">Register</a>
      </div>
    </div>
</div>