/*
/* (A) FLEX CONTAINER */
.flex-buttons { display: flex; }
 
/* (B) OPTIONAL COSMETICS */
.flex-buttons > * {
  box-sizing: border-box;
  width: auto; padding: 10px;
}

p {
  font-size: 18px;
}

.navbar-brand {
  padding-left: 10px;
}

.nav-item {
  font-size: 18px;
}

.search-item {
  padding: 10px;
}

.jumbotron {
  padding: 4rem 2rem;
  margin-bottom: 2rem;
  background-color: var(--bs-light);
  border-radius: .3rem;  
}

@media print {
  .noprintbutton {
    visibility: hidden;
  }
}

